<section class="content-page">
    <div class="container-fluid">
      
    <section class="hero">
      <div class="container">
        <div class="row">
          <h1 class="text-uppercase">HAKKIMIZDA</h1>
          <span class="text">
            <p>Günümüzde hızla değişen dünyada, <strong>R E A S Y</strong>  Rezervasyon Sistemi, müşterilerle işletmeleri bir araya getiren yenilikçi bir çevrimiçi rezervasyon platformunu sunmaktan gurur duyar. Biz, müşterilerin kolayca kayıt olup istedikleri işletmelere rezervasyon isteği göndermelerini sağlayan ve aynı zamanda işletmelerin rezervasyon taleplerini detaylı bir şekilde gözden geçirip kabul etme veya reddetme özgürlüğüne sahip olduğu bir platformuz.
            </p>
          </span>
        </div>
      </div>
    </section>
    
    <section class="mission">
      <div class="container">
        <div class="row">
          <span class="text">
            <h3>Vizyonumuz:</h3>
            <p>
                Müşteri memnuniyetini esas alarak, <strong>R E A S Y</strong> olarak vizyonumuz, insanların günlük hayatlarını daha kolay ve keyifli hale getirmek için teknolojiyi kullanmaktır. Müşterilerimize ve işletmelere bir araya gelmeleri için güvenilir, kullanıcı dostu ve etkili bir platform sunarak, sosyal deneyimlerini zenginleştirmek istiyoruz.
            </p>
        
            <h3>Misyonumuz:</h3>
            <p>
                <strong>R E A S Y</strong> olarak misyonumuz, müşterilerle işletmeleri bir araya getirerek, rezervasyon süreçlerini basitleştirmek ve geliştirmektir. İşletmelerin kapasitelerini en iyi şekilde değerlendirmelerine ve müşterilerin kolayca rezervasyon yapmalarına olanak tanıyarak, her iki tarafın da memnuniyetini sağlamak için çaba harcıyoruz.
            </p>
        
            <h3>Platform Özellikleri:</h3>
            <ul>
                <li>Kolay ve hızlı kayıt süreci ile müşterilerin ve işletmelerin platforma katılması</li>
                <li>Müşterilerin istedikleri işletmelere rezervasyon isteği göndermelerini sağlayan kullanıcı dostu arayüz</li>
                <li>İşletmelerin rezervasyon taleplerini detaylı bir şekilde inceleme ve yönetme imkanı</li>
                <li>İşletmelerin rezervasyonları kabul etme veya reddetme özgürlüğü</li>
                <li>Güvenli ve şeffaf bir rezervasyon süreci için güçlü bir altyapı</li>
            </ul>
        
            <p>
                <strong>R E A S Y</strong> olarak, teknoloji ve hizmetin gücünü bir araya getirerek müşterilerimizin ve işletmelerin ihtiyaçlarına en iyi şekilde yanıt vermeyi amaçlıyoruz. Siz de bize katılın, online rezervasyon dünyasında bir adım öne çıkın!
            </p>
          </span>
        </div>
      </div>
    </section>
      
    <section class="stats">
      <div class="container">
        <div class="row" id="stats-row">
          <div class="">
            <span class="stats-value" >{{customersCount}}</span>
            <span class="stats-label">Müşteri</span>
          </div>
          <div class="">
            <span class="stats-value" >{{businessCount}}</span>
            <span class="stats-label">İşletme</span>
          </div>
          <div class="">
            <span class="stats-value" >{{reservationCount}}</span>
            <span class="stats-label">Rezervasyon</span>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  </section>
  
  
  <br>