
  
    <div class="sub-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <ul class="info">
                <li><i class="fa fa-envelope"></i> info@reasy.com</li>
                <li><i class="fa fa-map"></i> Turgutlu Kasabası, Manisa/Türkiye</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4">
              <ul class="social-links">
                <li><a ><i class="fab fa-facebook"></i></a></li>
                <li><a  target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a ><i class="fab fa-linkedin"></i></a></li>
                <li><a ><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a routerLink="/" class="logo">
                            <h1>Reasy</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                          <li><a routerLink="/" class="active">Anasayfa</a></li>
                          <li><a routerLink="/about">Hakkımızda</a></li>
                          <li><a routerLink="/contact">İletişim</a></li>
                          <li><a routerLink="/login"><i class="fa fa-plus"></i> Rezervasyon Yapmak İçin Giriş Yap</a></li>
                      </ul>   
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
      </header>
      <!-- ***** Header Area End ***** -->