
    <!-- ***** Header Area End ***** -->
  <div class="section properties">
    <div class="container col-md-11">
      <ul class="properties-filter">
        <li >
          <a class="active mx-2" (click)="getBusiness()"  data-filter="*">Hepsi</a>
          <a *ngFor="let item of categories" class="is_active mx-2 my-3" (click)="getBusinessById(item.categoryId)" >{{item.categoryName}}</a>
        </li>
      </ul>

      <div class="row properties-box">
        <div *ngFor="let item of businesses" class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
          <div class="item">
            <a routerLink="property-details/{{item.businessId}}">
              <img [src]="createImgPath(item.businessImage)" alt="product" class=" item-center" >
            </a>
            <span class="category">{{item.categoryName}}</span>
            <h6>{{item.businessMinPrice}}₺-{{item.businessMaxPrice}}₺</h6>
            <h4 class="text-center"> <a class="font-weight-bold" routerLink="property-details/{{item.businessId}}">{{item.businessName}}</a></h4>
            <h4 class="text-center"><a  routerLink="property-details/{{item.businessId}}">{{item.businessAdress}}</a></h4>
            
              <p class="text-center">{{item.businessShortDescription}}</p>
           
            
            <div class="main-button">
              <a routerLink="property-details/{{item.businessId}}">Rezervasyon Yap</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a class="is_active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">>></a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
