<div class="hold-transition login-page">
    <div class="login-box">

        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <!-- <a class="h1"><b>Toyota </b>Panel</a> -->
            </div>
            <div class="card-body">
                <h1 class="text-center">R E A S Y</h1>

                <p class="login-box-msg">Oturum Açınız</p>
                <form [formGroup]="loginForm" method="post">
                    <div class="input-group mb-3">
                        <input type="email" formControlName="userName" class="form-control" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <button type="submit" (click)="login()" class="btn btn-dark btn-block">Giriş Yap</button>
                        </div>
                    </div>
                </form>
        
            </div>

        </div>

    </div>