      <div class="single-property mt-5">
      <div class="container ">
        <div class="row  ">
    
          <div class="col-lg-8 item-center">
            <h2 class="text-center orangeActive mb-5">{{business.businessName}}</h2>
            <div class="main-image">
              <img [src]="createImgPath(business.businessImage)" alt="">
            </div>
            <div class="main-content">
              <!-- <span class="category">Apparment</span> -->
              <h4>{{business.businessAdress}}</h4>
              <h2 class="text-center mb-5">{{business.businessName}}</h2>

              <p >{{business.businessDescription}}</p>
            </div> 
     
        </div>
        <div class="col-lg-4 mt-5">
          <div class="info-table">
            <ul>
              <li>
                <img src="../../../assets/img/info-icon-01.png" alt="" style="max-width: 52px;">
                <h4> İşletme<br><span>Total Flat Space</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-02.png" alt="" style="max-width: 52px;">
                <h4> Müşteri<br><span>Contract Ready</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-03.png" alt="" style="max-width: 52px;">
                <h4> Rezervasyon<br><span>Payment Process</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-04.png" alt="" style="max-width: 52px;">
                <h4> Kazanç<br><span>24/7 Under Control</span></h4>
              </li>
            </ul>
          </div>
        </div>
     
      </div>
    </div>
  <!-- <app-best-deal></app-best-deal> -->
  
   <app-footer-public></app-footer-public>
