      <div class="single-property mt-5">
      <div class="container ">
        <div class="row  ">
    
          <div class="col-lg-8 item-center ">
            <h2 class="text-center orangeActive mb-5">{{business.businessName}}</h2>
            <div class="main-image">
              <img [src]="createImgPath(business.businessImage)" alt="">
            </div>
            <div class="main-content item-center">
              <!-- <span class="category">Apparment</span> -->
              <h4>{{business.businessAdress}}</h4>
              <h2 class="text-center mb-5">{{business.businessName}}</h2>

             <p [innerHTML]="business.businessDescription"></p>

              <a class="btn btn-dark col-md-12  mb-5 item-center mt-5" (click)="openModel()">Rezervasyon Yap</a>

            </div> 
        </div>
        <div class="modal " style="width: 100%;"  tabindex="-1" id="exampleModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" (click)="closeModel()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form [formGroup]="reservationAddForm">
              <div class="modal-body item-center">  
                <div class="form-group text-center">
                  <label for="exampleInputEmail1">Rezervasyon Saati</label>
          
                   <select class="form-select" formControlName="hour" >
                      <option>00:00-01:00</option>
                      <option>01:00-02:00</option>
                      <option>02:00-03:00</option>
                      <option>03:00-04:00</option>
                      <option>04:00-05:00</option>
                      <option>05:00-06:00</option>
                      <option>06:00-07:00</option>
                      <option>07:00-08:00</option>
                      <option>08:00-09:00</option>
                      <option>09:00-10:00</option>
                      <option>10:00-11:00</option>
                      <option>11:00-12:00</option>
                      <option>12:00-13:00</option>
                      <option>13:00-14:00</option>
                      <option>14:00-15:00</option>
                      <option>15:00-16:00</option>
                      <option>16:00-17:00</option>
                      <option>17:00-18:00</option>
                      <option>18:00-19:00</option>
                      <option>19:00-20:00</option>
                      <option>20:00-21:00</option>
                      <option>21:00-22:00</option>
                      <option>22:00-23:00</option>
                      <option>23:00-00:00</option>
                    </select> 
              </div>   
              <div class="text-center mt-4">
                <label class="modal-title ">Rezervasyon için işletmeye not bırak..</label>

                <editor  formControlName="reservationDescription" apiKey="g3k9xwm9ro3n70peqgxv3n14swbazl5i9v9lmnxf4i109irq" [init]="{plugins: [
                  'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                  'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                  'media', 'table', 'emoticons', 'template', 'help'
                ],}"></editor>   
              </div>    
             
                 
                <a class="btn btn-info w-100 mt-4 mb-4" (click)="add()" >Rezervasyonu Tamamla</a>
              </div>
            </form>

            </div>
          </div>
        </div> 
      
        <div class="col-lg-4 mt-5">
          <div class="info-table">
            <ul>
              <li>
                <img src="../../../assets/img/info-icon-01.png" alt="" style="max-width: 52px;">
                <h4> İşletme<br><span>Total Flat Space</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-02.png" alt="" style="max-width: 52px;">
                <h4> Müşteri<br><span>Contract Ready</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-03.png" alt="" style="max-width: 52px;">
                <h4> Rezervasyon<br><span>Payment Process</span></h4>
              </li>
              <li>
                <img src="../../../assets/img/info-icon-04.png" alt="" style="max-width: 52px;">
                <h4> Kazanç<br><span>24/7 Under Control</span></h4>
              </li>
            </ul>
          </div>
        </div>
     
      </div>
    </div>
  <!-- <app-best-deal></app-best-deal> -->
  

